*{
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.patient-form{
  margin-top: 1.5em;
  width: 60%;
  border-radius: 20px;
  background: #FBF9FF;
}
.crd{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.crd2{
  margin-left:1em;
}
.card-img{
  width:50%;
  border-radius: 50%;
}
.log
{
  background-color: rgb(29, 16, 148);
  border-radius: 10px;
}
.text1
{
  position: absolute;
  font-family :sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20.05px;
  font-weight: 250;
  color: white;
}

.text1::before
{
  content: 'Doctor Module';
  color: #399;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.001s;
}
.text1:hover::before
{
  width: 108%;
}
.text2
{
  position: absolute;
  font-family :sans-serif;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  font-size: 20.0399px;
  font-weight: 250;
  color: white;
}

.text2::before
{
  content: 'Patient Module';
  color: #399;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.001s;
}
.text2:hover::before
{
  width: 110%;
}
.text3
{
  position: absolute;
  font-family :sans-serif;
  top: 50%;
  left: 76.5%;
  transform: translate(-50%, -50%);
  font-size: 20.05px;
  font-weight: 250;
  color: white;
}

.text3::before
{
  content: 'Admin Module';
  color: #399;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.001s;
}
.text3:hover::before
{
  width: 110%;
}
.text4
{
  position: absolute;
  font-family :sans-serif;
  top: 50%;
  left: 87%;
  transform: translate(-50%, -50%);
  font-size: 20.088px;
  font-weight: 250;
  color: white;
}

.text4::before
{
  content: 'Register';
  color: #399;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.001s;
}
.text4:hover::before
{
  width: 110%;
}
.navbar-container{
  position: sticky;
  top:0;
}
.nav-items{
  margin-left:auto;
}
.login-btn{
  width:100px;
}

