.patient-card-header{
    width: 100%;
    padding:1em;
    text-align: center;
    background-color: #0d6efd;
    color: white;
}
.patient-card{
    width: 100%;
    padding:1em;
    text-align: center;
    background-color: #FFF;
    color: black;
}
.patient-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}